import(SNPchip, Biobase, oligoClasses)
exportClasses("HmmParameter", "HmmOptions", "HmmPredict")
exportMethods(
              "[",
              annotation,
              "annotation<-",
              arm,
              Beta,
              breakpoints,
##              calculateBreakpoints,
              calculateTransitionProbability,
              cn.ICE, "cn.ICE<-",
              gt.ICE, "gt.ICE<-",
              cn.location,
              cnEmission,
              cn.robustSE,
              chromosome,
              coerce,                            
              db,
              featureData,
              fData,
              featureNames,
              getPar,
              gtEmission,
              hmm,
              hmmOptions,
              "hmmOptions<-",
              initialize,
              notes,
              pData,
              pi,
              plotSnp,
              position,
              predictions,
              sampleNames,
              SnpClass,
              states,
              "states<-",
              show,
              tau,
              tau.scale)

export(addFeatureData,
       calculateBreakpoints,
       calculateDistance,
       calculateCnSE,
##       .getCallEmission,
       plotPredictions,
       viterbi)

###########################################################################
##classes for graphical parameters
###########################################################################
exportClasses("ParHSet", "ParHmmSnpSet", "ParHmmSnpCallSet", "ParHmmSnpCopyNumberSet")



