useDynLib("VanillaICE", .registration=TRUE)

## methods
importMethodsFrom(methods, initialize, show)
importFrom(methods, "@<-", callNextMethod, new, validObject)

##utils
importFrom(utils, setTxtProgressBar, txtProgressBar, packageDescription)

##Biobase (do we need this)
import(Biobase)
##importMethodsFrom(Biobase, sampleNames)
##importFrom(Biobase, rowMedians,"assayDataElement<-", "assayData<-")

##stats
importFrom(stats, update, sd)

## IRanges
import(IRanges)
importMethodsFrom(IRanges, as.matrix)

## oligoClasses (do we need this)
import(oligoClasses)
##importMethodsFrom(oligoClasses, open, close, coverage2, state)
##importMethodsFrom(oligoClasses, baf, lrr, "baf<-", "lrr<-")
##importFrom(oligoClasses, chromosomePositionOrder, RangedDataHMM)
##importMethodsFrom(oligoClasses, checkOrder)

##msm
importFrom(msm, rtnorm)

## crlmm
##importMethodsFrom(crlmm, coerce)

##foreach
import(foreach)

## SNPchip
## importMethodsFrom(SNPchip, xyplot, xyplot2)
## importFrom(SNPchip, xypanel)


##----------------------------------------------------------------------------
## export
##----------------------------------------------------------------------------
export(BeadStudioSet, centerAutosomesAt, robustSds, icePlatforms, sd, read.bsfiles)
exportMethods(hmm, sd)

## export deprecated classes and functions
exportClasses(HmmOptionList)
export(hmm.setup, HmmOptionList, hmmBeadStudioSet, hmmOligoSnpSet,
       hmmSnpSet)

export(copyNumberLimits, rowMAD, viterbi2Wrapper, rescale)
exportMethods(emission)

exportClasses(BeadStudioSetList)
export(BeadStudioSetList)
